.Rhistory
_book/
.quarto/
_site/
.Rproj.user/
_bookdown_files/
_book/
*.rda

Chapters/man/ashkenazi.Rd

Chapters/man/ChanningHouse.Rd

Chapters/man/gastricXelox.Rd

Chapters/man/hepatoCellular.Rd

Chapters/man/pancreatic.Rd

Chapters/man/pancreatic2.Rd

Chapters/man/pharmacoSmoking.Rd

Chapters/man/prostateSurvival.Rd

**/*.quarto_ipynb

/.quarto/
